<head>
        <link rel="webpage icon"  href="/public/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<main>
    <main class="post-container" id="navigation-container">
    <div class="post-info">
    <div class="post-author-date">
     <p class="post-title">{{currentPost.title}}</p>
    <p class="author"><b>Posted by: </b>{{currentPost.username}}</p>
                            <p class="post-description"><b></b>{{currentPost.description}}</p>
                        <p class="date-posted">{{formatDate currentPost.createdAt}}</p>
                    </div>

                <img class="img-container" src="/{{currentPost.image}}"/>

                        <div class="comment-section">
                            <div class="comment-box">
                                <textarea type="text" id="comment-text" class="comment-box-text" placeholder="Comment here..."></textarea>

                                <button id="comment-button" 
                                data-postid="{{currentPost.id}}" 
                                class="comment-button form-item-icon material-symbols-rounded" 
                                aria-hidden="true">send</button>
                            </div>

                            <div id="comment-list" class="comments">
                             {{#each currentPost.comments}}
                             {{> comment this}}
                             {{/each}}
                        </div>
                        </div>
                    </div>
    </main>
